<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  {{SEO}}
  {{SCHEMA}}
  <link rel="icon" href="/static/images/logo.png">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/casino.css">
  <link rel="stylesheet" href="/static/css/responsive.css">
  <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>
  {{HEADER}}
  {{BANNERS_TOP}}
  <div class="layout-wrapper">
    <main class="main-content">
      {{BREADCRUMBS}}
      {{CONTENT}}
    </main>
    {{SIDEBAR}}
  </div>
  {{BANNERS_BOTTOM}}
  {{FOOTER}}
  <script defer src="/static/js/app.js"></script>
  <script defer src="/static/js/main.js"></script>
  <script defer src="/static/js/casino.js"></script>
  <script defer src="/static/js/dashboard.js"></script>
  <script defer src="/static/js/admin.js"></script>
  <script defer src="/static/js/casino-admin.js"></script>
  <script defer src="/static/js/geo.js"></script>
  <script defer src="/static/js/search.js"></script>
  <script defer src="/static/js/component-admin.js"></script>
  <script defer src="/static/js/author-admin.js"></script>
  <script defer src="/static/js/media-admin.js"></script>
  <script defer src="/static/js/review-block-admin.js"></script>
  <script defer src="/static/js/nav-admin.js"></script>
  <script defer src="/static/js/permissions-admin.js"></script>
  <script defer src="/static/js/user-dashboard.js"></script>
  <script defer src="/static/js/admin-tools.js"></script>
  <script defer src="/static/js/banner-admin.js"></script>
  <script defer src="/static/js/admin-permissions.js"></script>
  <nav id="mobileBottomNav" class="mobile-bottom-nav">
    {{mobile_nav}}
  </nav>
  <button class="scroll-to-top" id="scrollToTop" aria-label="Scroll to top">&#8593;</button>
</body>
</html>
